<div class="container">
	<% if (page.path == "index.html") { %>
	<!-- Disabled for now -->
	<!-- <div class="category-list-container">
		<div class="category-list-item">
			<span class="category-list-link"> Everything </span>
		</div>
		<div class="category-list-spacer"></div>
		<% } %> <%- list_categories() %>
	</div> -->

	<div class="post-list">
		<% page.posts.each(function (post) { %>
		<article class="post-list-item">
			<a href="<%- url_for(post.path) %>">
				<div class="cover-img-show-on-hover">
					<div class="paddington">
						<span class="overlay-post-title"> <%- post.title %> </span>
						<% if (post.byline) { %>
						<span class="overlay-post-byline"><%- post.byline %></span>
						<% } %>
					</div>
				</div>

				<div class="cover-img">
					<img
						src="https://thomas.design/portfolio/<%= post.cover_image %>"
						alt="<%= post.cover_image_alt %>"
					/>
				</div>
			</a>
		</article>
		<% }) %>
	</div>
	<%- partial('_partial/paginator') %>
</div>
