<% if (theme.search == true && page.type == 'search') { %>
    <%- partial('_partial/search') %>
<% } else if (page.type == 'tags') { %>
    <%- partial('_partial/tags') %>
<% } else if (page.type == 'categories') { %>
    <%- partial('_partial/categories') %>
<% } else { %>
<article class="post">
    <div class="content">
        <% if (page.info) { %>
            <%- partial('_partial/info') %>
        <% } %>
        <%- page.content %>
    </div>

    <% if (!page.fullscreen) { %>
        <div class="gutter"></div>
        <aside class="meta">
            <p class="meta-text">
                <%- page.excerpt %>
            </p>
            <p class="read-more">
                See more projects highlighting:
                <div class="categories<%= theme.uppercase_categories ? ' text-uppercase' : '' %>">
                <% page.categories.forEach((category) => { %>
                    <a href="<%= config.root + category.path %>"><%= category.name %></a>
                <% }) %>
                </div>
            </p>
        </aside>
    <% } %>
</article>
<% } %>
